/*按钮、表单、表格----------------------------------------------------------------------------------------------------------------*/
.btn{
    display: inline-block;padding: 5px 15px;margin-bottom: 0;font-size: 14px;line-height: 1.42857143;text-align: center;
    white-space: nowrap;vertical-align: middle;touch-action: manipulation;
    cursor: pointer;-webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;
    border-radius: 4px;
}
.form select{display: inline-block; padding: 3px 15px;border-radius: 4px;border: 1px solid #ddd;
    position: relative;top: 2px;}