<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="keywords" content="关键字,关键字,关键字"/>
    <meta name="description" content="页面描述不超过150个字符"/>
    <meta name="Author" content="页面作者"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <title>充值记录</title>
    <link rel="shortcut icon" href="../public/images/icoLogo.ico"/>
    <link rel="stylesheet" href="../public/css/authen.css">
    <link rel="stylesheet" media="screen and (min-width: 768px)" href="../public/css/authen-middle.css">
    <link rel="stylesheet" media="screen and (max-width: 768px)" href="../public/css/authen-small.css">
    <link rel="stylesheet" href="../public/lib/jquery-ui/themes/smoothness/jquery-ui.min.css">
    <script src="../public/lib/jquery/dist/jquery.min.js"></script>
    <script src="../public/js/authenWay.js"></script>
    <script src="../public/js/authenDom.js"></script>
</head>
<body>
<!--头-->
<header id="admin_header" class="clear">
    <div id="admin_headerL"><a href=""><img src="../public/images/adminLogo.png" alt="logo"/></a></div>
    <div id="admin_headerR">
        <ul>
            <li class="admin_headerStateBtn"><a href="" class="btn btn_sm btn_cornsilk">未实名认证</a></li>
            <li class="admin_headerDropBox">
                <p>
                    <span class="iconfont">&#xe634;</span>
                    <span id="admin_headerUser">sdfsfadfadfasdfasdfasdfasdfasdfasdfasdf</span>
                    <span class="iconfont">&#xe639;</span>
                </p>
                <ol class="admin_headerDropList">
                    <li><a href="">用户资料</a></li>
                    <li><a href="">密码修改</a></li>
                    <li><a href="">退出登录</a></li>
                </ol>
            </li>
            <li class="admin_headerOperation"><a href="">退出</a></li>
            <li>|</li>
            <li class="admin_headerOperation"><a href="">帮助</a></li>
        </ul>
    </div>
</header>

<!--中部-->
<div id="admin_center">
    <!--导航-->
    <div id="admin_nav" class="xd_panelBox">
        <div class="xd_panel active">
            <div class="xd_panelHead">
                <span class="xd_panelHeadTitle">用户中心</span>
                <span class="xd_panelHeadIcon iconfont">&#xe644;</span>
            </div>
            <div class="xd_panelBody active">
                <a href="admin_index.html" class="active">账户管理</a>
                <a href="">用户资料</a>
                <a href="">安全设置</a>
            </div>
        </div>
        <div class="xd_panel">
            <div class="xd_panelHead">
                <span class="xd_panelHeadTitle">产品中心</span>
                <span class="xd_panelHeadIcon iconfont">&#xe644;</span>
            </div>
            <div class="xd_panelBody">
                <a href="">公民身份证</a>
                <a href="">银行卡三四要素</a>
                <a href="">运营商认证</a>
                <a href="">企业工商信息查询</a>
                <a href="">学历查询</a>
                <a href="">驾驶证核验</a>
                <a href="">车牌号查询</a>
                <a href="">短信发送</a>
            </div>
        </div>
        <div class="xd_panel">
            <div class="xd_panelHead">
                <span class="xd_panelHeadTitle">开发者中心</span>
                <span class="xd_panelHeadIcon iconfont">&#xe644;</span>
            </div>
            <div class="xd_panelBody">
                <a href="">接入管理</a>
                <a href="">IP白名单</a>
            </div>
        </div>
    </div>
    <!--内容-->
    <div id="admin_content">
        <div id="admin_contentBox">
            <div class="xd_row">
                <div class="xd_10">充值记录</div>
            </div>
            <div class="xd_row">
                <div class="xd_10">
                    <form action="" class="form">
                        <input type="text" placeholder="充值时间">
                        <input type="text" id="admin_rStartTime" placeholder="充值时间起">
                        <span>到</span>
                        <input type="text" id="admin_rEndTime" placeholder="充值时间止">
                        <select id="admin_rState" title="">
                            <option value="">状态</option>
                            <option value="1">成功</option>
                            <option value="2">审核中</option>
                            <option value="3">失败</option>
                            <option value="4">待付款</option>
                        </select>
                        <a class="btn btn_white"><span class="iconfont">&#xe637;</span>查询</a>
                    </form>
                    <table class="table tableBolder tableHover">
                        <thead>
                        <tr>
                            <td>充值时间</td>
                            <td>充值单号</td>
                            <td>充值金额(元)</td>
                            <td>充值方式</td>
                            <td>状态</td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>2017-2-25 15:34:55</td>
                            <td>20170215458568956</td>
                            <td>12.00</td>
                            <td>线上充值</td>
                            <td><span class="text_forestgreen">成功</span></td>
                        </tr>
                        <tr>
                            <td>2017-2-25 15:34:55</td>
                            <td>20170215458568956</td>
                            <td>12.00</td>
                            <td>银行转账</td>
                            <td>审核中</td>
                        </tr>
                        <tr>
                            <td>2017-2-25 15:34:55</td>
                            <td>20170215458568956</td>
                            <td>12.00</td>
                            <td>银行转账</td>
                            <td><span class="text_bb2820">失败</span></td>
                        </tr>
                        <tr>
                            <td>2017-2-25 15:34:55</td>
                            <td>20170215458568956</td>
                            <td>12.00</td>
                            <td>线上充值</td>
                            <td><span class="text_dodgerblue">待付款</span></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>

<!--底部-->
<footer id="admin_footer">
    <span>现代金控&nbsp;|&nbsp;现代支付<br>&#169; 2015-2017&nbsp;现代金融控股(成都)有限公司&nbsp;版权所有&nbsp;蜀ICP备10205371号-1</span>
</footer>


</body>
</html>